#!/usr/bin/perl

#TCP classnames
tcp_class_names=>["HTTP", "SSL", "LDAP", "SMB", "iperf_tcp_1", "iperf_tcp_2", "iperf_tcp_3", "iperf_tcp_4"],
tcp_class_port=>[80, 443, 389, 445, 6001, 6002, 6003, 6004],
tcp_class_priorities=>[3, 3, 3, 3, 3, 3, 3, 3],

#UDP Classnames
udp_class_names=>['iperf_1', 'iperf_2', 'iperf_3', 'iperf_4', 'iperf_5', 'iperf_6', 'iperf_7', 'iperf_8'],
udp_class_ports=>[5001, 5002, 5003, 5004, 5005, 5006, 5007, 5008],
udp_class_traffic_WAN_percentage=>[120, 120, 120, 120, 120, 120, 120, 120],
udp_class_packet_size=>[0, 0, 0, 0, 0, 0, 0, 0], # UDP payload size in bytes, it will add 42 bytes of headers
udp_class_priorities=>[3, 3, 3, 3, 3, 3, 3, 3];
